/* -----------structure----------- */
#cm {
	width:720px;
	height:576px;
	margin:auto;
	background:RGB(222,226,212);
}

.main {
	padding-left:50px;
	padding-right:50px;
	padding-top:78px;
	padding-bottom:78px;
}

.game-area {
	width:430px;
	height:422px;
	float:left;
	background:white;
	z-index:11;
	-webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

.aside {
	padding-left:20px;
	height:422px;
	float:left;
	position:relative;
}

.popup {
	width:430px;
	height:422px;
	position:absolute;
	background-color:white;
	z-index:9999;
	display:none;
}

.input-box {
	width:300px;
	margin:auto;
}

.input-group {
	margin:10px 0;
}

.logo {
	width:160px;
	height:66px;
}

.game-info {
	margin-top:18px;
	width:160px;
	height:136px;
	background:white;
	color:black;
	font-size:2em;
}

.restart-btn {
	width:160px;
	height:60px;
	position:absolute;
	bottom:0;
}


.card-area {
	width:25%;
	float:left;
	height: 105px;
	position:relative;
	transition: 0.6s;
	transform-style: preserve-3d;	
}


.cover , .card {
	width:84px;
	height:104px;
	position:absolute;
	left:12px;
	border-radius:5px;
	border:2px solid white;
}


#step  {
	color:grey;
}

#point{
	color:red;
}


/* ---------------animation-------------- */

.highlight, .active {
	border:2px solid red;
	border-radius:5px;
}


.back {
	-webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
	backface-visibility: hidden;
}

.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.vs-hidden {
	visibility:hidden;
}
